<html>
<head>
    <title>Stratux AHRS</title>
    <style>
        ul    { list-style: none; }
        table   { display: inline; }
        body {
            font: 10px sans-serif;
        }
        .earth  {
            stroke-width: 0;
            fill: Brown;
        }

        .horizon {
            stroke-width: 3;
            color: White;
        }

        .sky  {
            stroke-width: 0;
            fill: SkyBlue;
        }

        .wings {
            stroke-width: 5;
            color: Yellow;
        }

        .markings {
            stroke-width: 3;
            color: white;
        }

        .line {
            stroke-width: 2;
            stroke: Red;
            fill: none;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: sans-serif;
            font-size: 10px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Ts</th>
        <th>Tsm</th>
    </tr>
    <tr>
        <td id="Ts"></td>
        <td id="Tsm"></td>
    </tr>
</table>
<table>
    <tr>
        <th>Pitch</th>
        <td id="Pitch">0</td>
    </tr>
    <tr>
        <th>Roll</th>
        <td id="Roll">0</td>
    </tr>
    <tr>
        <th>Heading</th>
        <td id="Heading">0</td>
    </tr>
</table>
<table>
    <tr>
        <th></th>
        <th>Accel</th>
        <th>Mag</th>
    </tr>
    <tr>
        <th>X</th>
        <td id="X_accel"></td>
        <td id="X_mag"></td>
    </tr>
    <tr>
        <th>Y</th>
        <td id="Y_accel"></td>
        <td id="Y_mag"></td>
    </tr>
    <tr>
        <th>Z</th>
        <td id="Z_accel"></td>
        <td id="Z_mag"></td>
    </tr>
</table>
<table>
    <tr>
        <th></th>
        <th>Accel</th>
        <th>Gyro</th>
        <th>Mag</th>
    </tr>
    <tr>
        <th>X</th>
        <td id="Ax">0</td>
        <td id="Gx">0</td>
        <td id="Mx">0</td>
    </tr>
    <tr>
        <th>Y</th>
        <td id="Ay">0</td>
        <td id="Gy">0</td>
        <td id="My">0</td>
    </tr>
    <tr>
        <th>Z</th>
        <td id="Az">0</td>
        <td id="Gz">0</td>
        <td id="Mz">0</td>
    </tr>
</table>
<table>
    <tr>
        <th>Qw</th>
        <td id="Qw"></td>
    </tr>
    <tr>
        <th>Qx</th>
        <td id="Qx"></td>
    </tr>
    <tr>
        <th>Qy</th>
        <td id="Qy"></td>
    </tr>
    <tr>
        <th>Qz</th>
        <td id="Qz"></td>
    </tr>
</table>
<div id="ai"></div>
<div id="accel"></div>
<div id="gyro"></div>
<div id="mag"></div>
<ul id="messages"></ul>
<script src="d3.min.js" charset="utf-8"></script>
<script>

    const t0 = Date.now() * 1000000;
    const DEG = Math.PI/180;

    var width = 400, height=400;
    var margin = {top: 20, right: 20, bottom: 20, left: 40};

    var updateTable = (function() {
        function formatVar(k, v) {
            var fmt;
            switch (k) {
                case "Pitch":
                case "Roll":
                case "Heading":
                    fmt = "<+6.2f";
                    vv = v;
                    break;
                case "Gx":
                case "Gy":
                case "Gz":
                case "Ax":
                case "Ay":
                case "Az":
                case "Mx":
                case "My":
                case "Mz":
                case "X_accel":
                case "Y_accel":
                case "Z_accel":
                case "X_mag":
                case "Y_mag":
                case "Z_mag":
                case "Qw":
                case "Qx":
                case "Qy":
                case "Qz":
                    fmt = "<+6.4f";
                    vv = v;
                    break;
                default:
                    fmt = "8.2f";
                    vv = (v - t0)/1e9;
            }
            return d3.format(fmt)(vv);
        }

        return function(data) {
            for (var f in data) {
                d3.select("#"+f).text(formatVar(f, data[f]));
            }
        }
    })();

    function updateMessageList(data) {
//        var messages = document.getElementById("messages");
//            var entry = document.createElement("li");
//            entry.appendChild(document.createTextNode(data));
//            messages.appendChild(entry);
    }

    // Draw AI
    var updateAI = (function() {
        var D0 = [{theta: 0, phi: 0, side: -1}, {theta: 0, phi: 0, side: +1}];

        function x(d) {
            return width * (d.side + 1) / 2
        }

        function y(d) {
            return height * (90 - d.theta * DEG) / 180 - d.side * width / 2 * Math.tan(d.phi * DEG)
        }

        var svg = d3.select("#ai").append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g");

        var sky_gen = d3.svg.area()
                .x(x)
                .y0(y)
                .y1(0);

        var horizon_gen = d3.svg.line()
                .x(x)
                .y(y);

        var earth_gen = d3.svg.area()
                .x(x)
                .y0(y)
                .y1(height);

        var sky = svg.append("path")
                .attr("class", "sky")
                .datum(D0)
                .attr("d", sky_gen);

        var earth = svg.append("path")
                .attr("class", "earth")
                .datum(D0)
                .attr("d", earth_gen);

        var horizon = svg.append("path")
                .attr("class", "horizon")
                .datum(D0)
                .attr("d", horizon_gen);

        return function(data) {
            D0[0].theta = data.Pitch;
            D0[1].theta = data.Pitch;
            D0[0].phi = data.Roll;
            D0[1].phi = data.Roll;
            sky.attr("d", sky_gen);
            earth.attr("d", earth_gen);
            horizon.attr("d", horizon_gen);
        }

    })();

    var updateAccel = makeRollingPlot("accel", 4, "Az"),
            updateGyro = makeRollingPlot("gyro", 250, "Gy"),
            updateMag = makeRollingPlot("mag", 1000, "Mx");

    function makeRollingPlot(el, ylim, v) {
        const TMAX = 20;

        var D0 = d3.range(TMAX*10).map(function() { return 0; });

        var x = d3.scale.linear()
                .domain([0, TMAX])
                .range([0, width-margin.left-margin.right]);

        var y = d3.scale.linear()
                .domain([-ylim, ylim])
                .range([height-margin.top-margin.bottom, 0]);

        var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

        var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

        var line = d3.svg.line()
                .x(function(d, i) { return x(i/10); })
                .y(function(d, i) { return y(d); });

        var svg = d3.select("#"+el)
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.append("defs").append("clipPath")
                .attr("id", el+"Clip")
                .append("rect")
                .attr("width", width-margin.left-margin.right)
                .attr("height", height-margin.top-margin.bottom);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + y(0) + ")")
                .call(xAxis);

        svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text");

        var path = svg.append("g")
                .attr("clip-path", "url(#"+el+"Clip)")
                .append("path")
                .attr("class", "line")
                .datum(D0)
                .attr("d", line);

        return function(data) {
            D0.push(data[v]);
            D0.shift();
            path.attr("d", line);
        }

    }

    if (!window["WebSocket"]) {
        alert("Error: Your browser does not support web sockets.")
    } else {
        var socket = new WebSocket("ws://{{.Host}}/room");
        socket.onclose = function() {
//            alert("Connection has been closed.");
            console.log("Socket has been closed.");
        };
        socket.onmessage = function(e) {
            var msg = JSON.parse(e.data);
            updateTable(msg);
            updateMessageList(msg);
            updateAI(msg);
            updateAccel(msg);
            updateGyro(msg);
            updateMag(msg);
        }
    }
</script>
</body>
</html>
